
/*START::CUSTOM CSS*/

::selection {
    background: #732A4E;
    color: #fff;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #732A4E;
    color: #fff;
    /* Gecko Browsers */
}

.inactive {
    pointer-events: none;
    cursor: default;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #515A5F;

}

body,
html {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #777;

}

.section-padding {
    padding: 100px 0;
}

.section-title {
    margin-bottom: 80px;
    text-align: center;
}

.section-title h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    font-weight: 400;
    position: relative;
    padding: 5px 0;
    display: inline-block;
}

.section-title h1:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #515A5F;
}

.section-title h1:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #515A5F;
}


.alt-title h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
}

.alt-bg {
    background-color: #F9F9F9;
}

.alt-color {
    color: #732A4E;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #732A4E;
    /* change if the mask should have another color then white */
    z-index: 999999;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../images/bars.svg);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

/*END::CUSTOM CSS*/

/*START::NAVIGATION CSS*/

#mainNav-sticky-wrapper {
    z-index: 99999;
    position: relative;
}

#mainNav {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-item {
    padding-left: 8px;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #732A4E;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

#mainNav .navbar-toggler:hover {
    background-color: #49484E;
}

#mainNav .navbar-brand img {
    max-height: 35px;
    width: auto;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #732A4E;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 80%;
    font-weight: 400;
    letter-spacing: 1px;
    color: #515A5F;
    text-transform: uppercase;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #732A4E;
}

/*END::NAVIGATION CSS*/

/*START::HERO AREA CSS*/

#welcome-area,
#welcome-area .hero-area-bg,
#welcome-area .hero-area-wrap,
#welcome-area .hero-area-wrap .single-slide-item {
    height: 100%;
}

#welcome-area h1 {
    color: #fff;
}

.hero-area-wrap {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-area-wrap:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgb(99, 26, 51);
    opacity: .5;
    z-index: -1;
}

/*BACKGROUNDS*/

.welcome-content {
    text-align: center;
    opacity: .7;

}

.welcome-content h3 {
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    font-size: 54px;
}

.welcome-content h1 {
    margin: 20px 0;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    color: #732A4E;
}


.welcome-content p {
    color: #f7f7f7;
    margin: 0;
}

.welcome-content p span {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 8px;
    letter-spacing: 1px;
    font-weight: 300;
}

.scroll-bottom {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    border: 1px solid #732A4E;
    height: 70px;
    line-height: 80px;
    border-radius: 30px;
}

.scroll-bottom i {
    color: #732A4E;
    font-size: 30px;
}

/*END::HERO AREA CSS*/

/*START::ABOUT SECTION CSS*/

#alt-logo {
    width: 150px;
}

.author-image img {
    width: 70%;
    height: auto;
    border: 5px solid;
}

.author-personal-info ul {
    margin: 0;
}

.author-personal-info li p {
    margin: 0;
    text-transform: uppercase;
}

.author-personal-info li p span {
    display: block;
    font-size: 14px;
}

.author-personal-info {
    text-align: center;
}

.author-personal-info h3 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 20px 0;
    position: relative;
    display: inline-block;
    padding: 5px 0;
}

.author-personal-info h3:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #515A5F;
}

.author-personal-info h3:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: #515A5F;
}


.author-personal-info li p span b {
    color: #515A5F;
    font-size: 16px;
}

.author-personal-info li {
    padding-bottom: 10px;
}

.author-about-right h2 {
    font-weight: 400;
    text-transform: capitalize;
    word-spacing: 2px;
    margin: 0;
    font-size: 26px;
}

.author-about-right h2 span {
    display: block;
    margin-bottom: 8px;
}

.author-about-right p {
    line-height: 28px;
    font-size: 14px;
    margin-top: 30px;
}

/*END::ABOUT SECTION CSS*/

.column-left {
    width: 95%;
    border-right: 2px solid #732A4E;
    padding-right: 50px;
    text-align: right;
}

.column-right {
    width: 95%;
    padding-left: 50px;
    border-left: 2px solid #732A4E;
}

/*START::INTERESTS SECTION CSS*/

#interests .col-md-2 {
    padding: 0;
}

.single-interest {
    padding: 20px 15px;
}

.single-interest i.fa {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 32px;
}

.single-interest p {
    font-weight: 700;
    color: #515A5F;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
}

/*END::INTERESTS SECTION CSS*/

/*START::PORTFOLIO SECTION CSS*/

.work {
    position: relative;
    padding: 20px;
}

.work>img {
  width: 100%;
}

.work .overlay {
    background: #4E2E46;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.8;
}

.work .work-content {
    position: absolute;
    left: 25px;
    right: 25px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.work .work-content h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #FFF;
    margin-bottom: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work:hover .work-content h3 {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.work .work-content span {
    display: block;
    text-transform: uppercase;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #9FA19E;
    margin-bottom: 5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.work:hover .work-content span {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.work .work-link {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.work .work-link a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #9FA19E;
    color: #FFF;
    line-height: 50px;
    text-align: center;
}

.work:hover .work-link {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 1;
}

/*END::PORTFOLIO SECTION CSS*/

/*START::CONTACT SECTION CSS*/

#contact .form-group {
    margin-bottom: 25px;
}

#contact .form-group input,
#contact .form-group textarea {
    padding: 16px;
}

#contact .form-group input.form-control {
    height: auto;
}

#contact .form-group textarea.form-control {
    height: 236px;
}

.form-control {
    font-size: 14px;
    border-color: #F0F0F0;
}

#contact textarea {
    resize: none;
}

#contact .form-control:focus {
    border-color: #732A4E;
    box-shadow: none;
}

#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #828282;
    text-transform: uppercase;
}

#contact :-moz-placeholder {
    font-weight: 700;
    color: #828282;
    text-transform: uppercase;
}

#contact ::-moz-placeholder {
    font-weight: 700;
    color: #828282;
    text-transform: uppercase;
}

#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #828282;
    text-transform: uppercase;
}

#contact .text-danger {
    color: #00E0D9;
}

#sendMessageButton {
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    color: #fff;
    padding: 14px 24px;
    margin-top: 20px;
    border: 1px solid #fff;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    background: #515A5F;
}

#sendMessageButton:hover {
    background: #732A4E;
    border-color: #732A4E;
    color: #fff;
}

#sendMessageButton:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

.contact-details {
    background: #515A5F;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.single-contact-box {
    padding: 23px 0;
    text-transform: capitalize;
}

.single-contact-box i {
    font-size: 28px;
}

.single-contact-box p {
    margin: 0;
}

.single-contact-box p a {
    color: #fff;
}

.social-links ul {
    margin: 0;
}

.social-links li {
    display: inline-block;
}

.social-links li a i {
    height: 40px;
    width: 40px;
    border: 1px solid;
    display: inline-block;
    color: #fff;
    margin: 0 5px;
    line-height: 40px;
    transition: .3s;
    border-radius: 5px;
}

.social-links li a:hover i {
    background: #fff;
    color: #732A4E;
    border-color: #fff;
}

/*END::CONTACT SECTION CSS*/

/*START::FOOTER AREA CSS*/

.footer-text p {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}

#footer {
    background: #515A5F;
    color: #fff;
    padding: 60px 0;
}

.footer-text a {
    color: #fff;
}

/*END::FOOTER AREA CSS*/